In [1]:
import requests
import os
import pandas as pd
tokenCanvas = os.environ['tokenCanvas']

FSbrukar = os.environ["FSbrukar"]
FSpassord = os.environ["FSpassord"]

headers = {
    'Authorization': f'Bearer {tokenCanvas}',
}
params = {
    'per_page': 100,
}

In [31]:
rådata = pd.read_csv("fiam_250809.csv")

In [32]:
rådata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90134 entries, 0 to 90133
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   canvas_user_id              90134 non-null  int64
 1   user_id                     89312 non-null  object
 2   integration_id              4 non-null      object
 3   authentication_provider_id  4108 non-null   float64
 4   login_id                    90134 non-null  object
 5   first_name                  90107 non-null  object
 6   last_name                   90068 non-null  object
 7   full_name                   90134 non-null  object
 8   sortable_name               90107 non-null  object
 9   short_name                  31459 non-null  object
 10  email                       89723 non-null  object
 11  status                      90134 non-null  object
 12  created_by_sis              90134 non-null  bool
 13  uuid                        90134 non-null  object
dtypes: bool(1), float64(1), int64(1), object(11)
memory usage: 9.0+ MB

In [33]:
rådata = rådata[['user_id', 'login_id', 'email']]

In [34]:
rådata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90134 entries, 0 to 90133
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   89312 non-null  object
 1   login_id  90134 non-null  object
 2   email     89723 non-null  object
dtypes: object(3)
memory usage: 2.1+ MB

In [40]:
aktuell = rådata[rådata['email'].str.match(r'^[a-z]{4,5}\d{4}@hvl.no$', na=False)]

In [41]:
aktuell.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9112 entries, 10 to 90132
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   9105 non-null   object
 1   login_id  9112 non-null   object
 2   email     9112 non-null   object
dtypes: object(3)
memory usage: 284.8+ KB

In [42]:
aktuell

              user_id          login_id             email
10     fs:203:1377725  johop1828@hvl.no  johop1828@hvl.no
14      fs:203:153189  histr5943@hvl.no  histr5943@hvl.no
21       fs:203:98917  mikir5940@hvl.no  mikir5940@hvl.no
33      fs:203:261895     122424@hvl.no  bomae6729@hvl.no
55      fs:203:129496  chdal2177@hvl.no  chdal2177@hvl.no
...               ...               ...               ...
90122   fs:203:161494  tisol4150@hvl.no  tisol4150@hvl.no
90126  fs:203:1394541  tusty1843@hvl.no  tusty1843@hvl.no
90127   fs:203:284950  hetel0156@hvl.no  hetel0156@hvl.no
90128   fs:203:560826  mihau8552@hvl.no  mihau8552@hvl.no
90132   fs:203:620432  siaar3097@hvl.no  siaar3097@hvl.no

[9112 rows x 3 columns]

In [43]:
ulike = aktuell[aktuell['email'] != aktuell['login_id']]

In [44]:
ulike

              user_id       login_id             email
33      fs:203:261895  122424@hvl.no  bomae6729@hvl.no
268            123515         123515  asytr4748@hvl.no
512     fs:203:454837  148530@hvl.no  bates6886@hvl.no
531     fs:203:139242  980619@hvl.no  mabug4648@hvl.no
802     fs:203:233058  231263@hvl.no  erste6262@hvl.no
...               ...            ...               ...
87890   fs:203:578643     sln@hvl.no  sinor0858@hvl.no
88787  fs:203:1154454  674089@hvl.no  tokna4056@hvl.no
89356  fs:203:1127524    tssa@hvl.no  toand2882@hvl.no
89465   fs:203:941962  597948@hvl.no  lipek0488@hvl.no
89702    fs:203:95144  107594@hvl.no  jahei0046@hvl.no

[406 rows x 3 columns]