In [1]:
import requests
import os
import pandas as pd
tokenCanvas = os.environ['tokenCanvas']

headers = {
    'Authorization': f'Bearer {tokenCanvas}',
}
params = {
    'per_page': 100,
    'sort': 'last_login',
}

In [27]:
innmeldingar = pd.read_csv("enrollments.csv")
utan_sis = pd.read_csv("utan_sis.csv")

In [28]:
innmeldingar.head()

,value.user_id,value.course_id,value.created_at,value.workflow_state,value.updated_at,value.last_activity_at,value.type
0,67355,25541,2023-12-17T02:29:49.872Z,active,2024-09-24T09:56:44.315Z,2025-04-27T00:06:58.653Z,StudentEnrollment
1,47509,25834,2024-01-07T07:42:53.679Z,active,2024-09-24T10:00:03.357Z,2025-05-06T09:59:05.654Z,StudentEnrollment
2,94554,25541,2023-12-19T16:12:55.612Z,active,2024-09-24T09:40:55.958Z,2025-03-29T12:51:13.443Z,StudentEnrollment
3,79426,24602,2023-12-15T06:12:21.014Z,active,2024-09-24T09:45:33.084Z,2024-10-28T11:18:08.898Z,StudentEnrollment
4,83726,25881,2023-12-16T16:14:38.638Z,active,2024-09-24T09:43:09.498Z,2024-11-10T08:58:44.358Z,StudentEnrollment

In [29]:
utan_sis.head()

,id,name,sis_user_id,created_at
0,1206,Katrine Abelsen,NaN,2017-11-06T13:36:18+01:00
1,1207,Enok Abrahamsen,NaN,2017-11-06T13:36:38+01:00
2,27329,ACS,NaN,2018-10-15T15:45:01+02:00
3,102310000000076186,Sumaya Mohammed Adan,NaN,2021-07-27T03:07:42+02:00
4,12788,Najma ahmed,NaN,2018-04-23T22:08:08+02:00

## 1. Innmeldt i emne
No kan eg lage ei liste over brukarar som ikkje har sis_id, men som er meldt inn i eit emne:

In [35]:
innmeldingar_utan_sis = []
for i, r in utan_sis.iterrows():
    if r['id'] in innmeldingar['value.user_id'].values:
        innmeldingar_utan_sis.append(r['id'])

Denne lista må eg faktisk gå gjennom manuelt for å slette frå Canvas. (Å slette ved sis_import krev sis_id, som vi ikkje har.)

## 2. Ikkje innmeldt i emne
Kan eg også lage ei liste over dei utan sis_id som *ikkje* er innmeldt i emne?

In [38]:
ingen_innmeldingar = []
for i, r in utan_sis.iterrows():
    if r['id'] not in innmeldingar['value.user_id'].values:
        ingen_innmeldingar.append(r['id'])

In [39]:
ingen_innmeldingar

[1206,
 1207,
 102310000000076186,
 12788,
 4361,
 13013,
 40167,
 1255,
 1208,
 1209,
 29612,
 27730,
 28730,
 77712,
 3862,
 4000,
 52757,
 27233,
 27688,
 38868,
 74,
 26902,
 26901,
 102310000000086688,
 28497,
 13170,
 5250,
 54879,
 12389,
 12997,
 29269,
 29746,
 39894,
 27451,
 1211,
 26771,
 1210,
 210,
 1126,
 22037,
 22426,
 54884,
 1212,
 1213,
 12421,
 1214,
 12416,
 12343,
 211,
 38839,
 54991,
 27501,
 27502,
 12387,
 12417,
 41379,
 54793,
 12477,
 36031,
 12392,
 27591,
 28295,
 27331,
 54956,
 55070,
 55074,
 5232,
 54959,
 4102,
 26301,
 12469,
 30254,
 3416,
 27711,
 39678,
 12420,
 12405,
 40814,
 3992,
 1257,
 39366,
 39605,
 12789,
 39858,
 39859,
 39413,
 1258,
 408,
 1215,
 54782,
 54805,
 55391,
 29858,
 27696,
 41119,
 54990,
 12385,
 27402,
 27712,
 28488,
 28496,
 12393,
 411,
 1216,
 1278,
 12383,
 1060,
 212,
 12403,
 102310000000065006,
 13067,
 1217,
 4136,
 12364,
 30143,
 1218,
 12370,
 102310000000030244,
 3585,
 27091,
 607,
 1219,
 54945,
 4156,
 38932,
 30255,
 1118,
 27345,
 102310000000065397,
 1220,
 29922,
 39364,
 29993,
 24011,
 27497,
 55156,
 1221,
 3752,
 56685,
 121430000000072596,
 56666,
 287,
 41019,
 29690,
 1259,
 39385,
 29704,
 12414,
 27733,
 102310000000086104,
 1222,
 1260,
 289,
 1125,
 54576,
 1065,
 121430000000009173,
 3874,
 12408,
 1223,
 12378,
 1224,
 27161,
 12371,
 27582,
 3705,
 121430000000080109,
 38335,
 54577,
 95385,
 102310000000074646,
 29985,
 29986,
 29464,
 27843,
 29942,
 1063,
 29428,
 455,
 27400,
 13070,
 12418,
 38683,
 26870,
 39583,
 54667,
 27440,
 26380,
 26657,
 57398,
 41466,
 12434,
 657,
 102310000000086692,
 26614,
 12437,
 1057,
 5348,
 325,
 27554,
 27691,
 27485,
 5234,
 27508,
 14984,
 3584,
 12384,
 549,
 5338,
 29049,
 1225,
 27614,
 12369,
 12372,
 26475,
 1226,
 27800,
 29427,
 454,
 1266,
 102310000000086765,
 12397,
 111910,
 1204,
 1227,
 39436,
 102310000000088910,
 39667,
 27465,
 27757,
 39591,
 41362,
 74604,
 3940,
 102310000000086068,
 29221,
 4247,
 5236,
 1261,
 28257,
 29429,
 102310000000054709,
 3925,
 4043,
 28223,
 54958,
 74603,
 24010,
 12344,
 14964,
 55113,
 14354,
 38672,
 1228,
 29432,
 956,
 12448,
 12474,
 54436,
 12432,
 55429,
 26406,
 12367,
 399,
 1229,
 1121,
 30021,
 1120,
 77926,
 39767,
 1388,
 30005,
 1230,
 29425,
 54819,
 54881,
 3628,
 3765,
 12390,
 357,
 1262,
 55002,
 55003,
 12382,
 102310000000034612,
 31035,
 1119,
 65827,
 313,
 37861,
 37863,
 29431,
 1128,
 1101,
 4132,
 30259,
 26913,
 78949,
 12412,
 12396,
 39631,
 12349,
 41095,
 1232,
 27464,
 29703,
 468,
 1231,
 359,
 25237,
 12406,
 85171,
 4368,
 1233,
 27718,
 12442,
 1234,
 27752,
 14355,
 39666,
 1066,
 27717,
 27735,
 4203,
 55428,
 623,
 552,
 27751,
 29474,
 29121,
 29122,
 29130,
 102310000000053203,
 1067,
 4240,
 4248,
 27394,
 3474,
 30121,
 1059,
 37223,
 41123,
 4029,
 27406,
 12459,
 5334,
 55009,
 55877,
 44975,
 1235,
 29812,
 5231,
 1236,
 39280,
 39282,
 1237,
 40846,
 40847,
 12465,
 12431,
 12394,
 1238,
 41366,
 3528,
 12391,
 55080,
 29482,
 27863,
 40240,
 582,
 78825,
 29430,
 38566,
 26482,
 5350,
 1239,
 39628,
 39626,
 39676,
 4193,
 4194,
 12472,
 12473,
 1240,
 40192,
 40193,
 29132,
 27729,
 27702,
 86926,
 86426,
 1286,
 1287,
 26372,
 27701,
 1122,
 28161,
 12475,
 26769,
 54583,
 54883,
 1058,
 30041,
 56639,
 677,
 1070,
 1069,
 27762,
 102310000000074167,
 318,
 40490,
 31040,
 4009,
 27538,
 38750,
 38984,
 75885,
 12450,
 30973,
 2350,
 4372,
 39611,
 40201,
 40203,
 30258,
 1124,
 102310000000087002,
 3952,
 27732,
 54451,
 1061,
 13114,
 121430000000079204,
 1062,
 12373,
 55069,
 320,
 55053,
 1241,
 37573,
 102310000000065555,
 751,
 39957,
 55146,
 4141,
 4183,
 54820,
 1254,
 28202,
 12368,
 12402,
 56636,
 535,
 3751,
 54852,
 39652,
 29426,
 1243,
 369,
 1127,
 1244,
 12399,
 30071,
 23,
 26921,
 25933,
 111303,
 111304,
 3348,
 4350,
 29683,
 3884,
 4030,
 12409,
 40833,
 29981,
 39651,
 1245,
 26479,
 26846,
 1272,
 1246,
 560,
 561,
 22340,
 27236,
 36194,
 1247,
 1248,
 88377,
 37508,
 39641,
 29416,
 26163,
 13140,
 30004,
 54921,
 12377,
 1249,
 29604,
 29605,
 27849,
 27850,
 36814,
 74079,
 26845,
 26844,
 1129,
 102310000000086863,
 4207,
 4208,
 1250,
 38877,
 434,
 12400,
 74598,
 4056,
 1263,
 27489,
 23662,
 12379,
 54682,
 54826,
 54450,
 12415,
 12374,
 342,
 3476,
 27223,
 39665,
 3713,
 55438,
 13608,
 27710,
 27246,
 26990,
 121430000000082827,
 27761,
 38743,
 1123,
 1064,
 54274,
 27763,
 12435,
 3616,
 40362,
 27739,
 479,
 102310000000086156,
 39444,
 1251,
 30257,
 635,
 27694,
 3991,
 1288,
 1289,
 1290,
 54983,
 102310000000087506]

Her er noko galt; brukar 27730 (Torill Andersen, kanskje innmeldt medan vi framleis hadde eigenpåmelding aktivt?) ligg ikkje i lista over enrollments, men ho er meldt inn i emne 215 (Praksisrettleiarkurset). Eg undersøker først om ho kan bli henta ut via GrapQL, og det kan ho.

In [43]:
innmeldingar.loc[innmeldingar['value.user_id'] == 27730]

Empty DataFrame
Columns: [value.user_id, value.course_id, value.created_at, value.workflow_state, value.updated_at, value.last_activity_at, value.type]
Index: []

In [44]:
utan_sis.loc[utan_sis['id'] == 27730]

       id             name  sis_user_id                 created_at
14  27730  Torill Andersen          NaN  2018-12-03T09:24:22+01:00

Så konklusjonen må bli at eg ikkje får med meg alle sjølv om eg bruker CD2 (for den viser berre 30 dagar tilbake i tid)? Men eg prøver allikevel.